@import url('/src/index.css');

#Sidenav{
    background-color: var(--secondary);
    position: fixed;
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.opt{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0px;
    border: none;
    background: none;
    border-radius: 25px;
    width: 80px;
    background: var(--secondary);
    height: 80px;
}
.opt:hover{
    background: var(--secondary);
}
.opt .icon{
    color: var(--primary);
    margin-bottom: 5px;
    font-size: 20px;
}
.opt span{
    font-size: 17px;
    color: var(--primary);
}
.opt:active{
    transition: 0ms;
    padding: 16px;
    height: 78px;
    width: 78px;
}
.Home{
    background-color: var(--secondary);
    margin-bottom: 100px;
}
.Home:active{
    margin-bottom: 102px;
}