@import url('https://fonts.cdnfonts.com/css/elderweiss');

*{
    transition: 500ms;
}
:root{
    --secondary1: #000000;
    --secondary2: #292929;
    --secondary3: #585858;
    --primary1: #ec5f00;
    --primary2: #c04d00;
    --primary3: #a84300;
    --font: 'ELDERWEISS', sans-serif;
}

body{
    padding-left: 100px;
    margin: 0px;
    max-width: 100%;
    min-height: 100%;
    background-color: var(--secondary2);
}