@import url('/src/index.css');
.Content .sep{
    display: flex;
    flex-direction: row;
}
.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 40px 20px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: var(--secondary);
    width: 400px;
}
.inpt{
    width: 360px;
}