@import url('/src/style.css');

#sidenav{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100%;
    background-color: var(--secondary1);
}
.ButHome{
    border-radius: 20px;
    width: 70px;
    height: 70px;
    background: var(--secondary2);
    border: none;
    color: var(--primary1);
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
}
.ButHome:hover{
    background: var(--secondary3)
}
.ButIcon{
    padding: 15px;
    border-radius: 20px;
    width: 70px;
    height: 70px;
    background: none;
    border: none;
    color: var(--primary1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ButIcon:hover{
    background: var(--secondary2)
}